<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="50">
            <input type="text" name="token" ng-model="vm.stepper.step1.token" placeholder="Token"
                   translate="STEPPER_STEPS.TOKEN" translate-attr-placeholder="STEPPER_STEPS.TOKEN"
                   required>
            <div ng-messages="step1.token.$error"
                 ng-show="step1.token.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>Obligatorio</span>
                </div>
            </div>
        </md-input-container>

        <!--<md-input-container flex="100" flex-gt-xs="50">-->
            <!--<input type="text" name="url" ng-model="vm.stepper.step1.url"-->
                   <!--placeholder="URL"-->
                   <!--required>-->
            <!--<div ng-messages="step1.url.$error"-->
                 <!--ng-show="step1.url.$touched"-->
                 <!--role="alert">-->
                <!--<div ng-message="required">8-->
                    <!--<span>Obligatorio</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</md-input-container>-->
    </div>
</div>